* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



body {
    background: url("./img/background.png");
}

.input-task {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.botao-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: #ffffff;
    font-size: 16px;
    padding: 0 5px;
    float: right;
    cursor: pointer;
    font-weight: 600;
}

.botao-add-task:hover {
    opacity: 0.8;
}

.botao-add-task:active {
    opacity: 0.6;

}

.list-task{
    width: 100%;
    list-style: none ; /* serve para tirar os pontos da lista*/
    margin-top: 30px;
}

.tasks{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.tasks:hover img{
    opacity: 1;
    
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0
}